/* BODY */

body {
	background-color: #eceef6;
	color: #4c505a;
}

@media (max-width: 700px) {
	.box {
		width: 90% !important;	
	}
}

/* HEADER */ 
h1 {
	text-align: center;
	margin: 60px 0 2px 0;
	font-family: Roboto, sans-serif;
	font-size: 36pt;
}

#legend {
	text-align: center;
	margin: 0 0 60px 0;
	font-style: italic;
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15pt;
}

/* BOXES */

.box {
	border: 2px solid #545c79;
	background-color: white;
	width: 670px;
	margin: 30px auto;
}

.header {
	background-color: #545c79;
	margin-left: -.25px;
	width: 100.25%;
	text-align: center;
	padding: 3px 0;
	font-family: monospace;
	color: #f3f4f9;
	font-size: 14pt;	
}

/* CONTENT */

.content {
	padding: 0 10px;
	font-family: sans-serif;
	text-align: justify;
	font-size: 13pt;
}

.links {
	color: inherit;
}

.links:hover {
	color: #e57272;
}

/* POSTS */

.postlist p {
	margin: 9px auto;
	width: 90%;
	color: #707ba1;
}

.postlist p:not(:last-child) {
	border-bottom: 2px dotted #626b8d;
}

.postlist a {
	text-decoration: none;
	margin-left: 20px;
	color: #4c505a; 
}

.postlist a:hover {
	color: #e57272;
}

/* MISC */

#quote {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 25pt;
	font-style: italic;
	margin: 60px 0 25px 0;
}

/* BAR */

.bottom-bar {
	bottom: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #aeb8d9;
	text-align: center;
}

.bottom-link {
	float: left;
	display: block;
	padding: 3px 15px;
	text-align: center;
	text-decoration: none;
	color: #f3f4f9;
	font-family: monospace;
	font-size: 13pt;
}

#first-link { background-color: #1c1e28; }
#second-link { background-color: #2a2e3c; }
#third-link { background-color: #383d50; }
#fourth-link { background-color: #464d65; }
#fifth-link { background-color: #545c79; }
#sixth-link { background-color: #626b8d; }
#seventh-link { background-color: #707ba1; }
#eighth-link { background-color: #7e8ab5; }
#ninth-link { background-color: #8c9aca; }

.bottom-link:hover:not(#first-link) {
	background-color: #e57272 !important;
}
